<script id="page_content" type="text/template">
{{=++ ++=}}
<script id="inner_welcome_content" type="text/template">
	<a href="#app-page?wiz_accounts" data-role="button" data-icon="check" data-transition="slide" data-theme="b">Let's Get Started</a>
    <div align="center">
		<div style="width:100%;" align="center"><div class="hint_box_arrow_up"></div></div>
	        <table class="hint_box">
	        	<tr>
	            	<td style="font-size:13px; padding:8px; text-align: justify;">++welcome_message++</td>
	            </tr>
	        </table>
	   	<div class="welcome_image"></div>
	</div>
</++script++>
<div data-role="content" id="welcome_content">Empty</div>
++={{ }}=++
</script>
